

<mat-expansion-panel [ngClass]="{'ownerStyle': isOwner()}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="roomNumber">{{room.roomnumber.toLowerCase()}}</span>
    </mat-panel-title>
    <mat-panel-description>
      <div [ngStyle]="{'background': getRoomColor()}" class="custom-badge"
           [ngClass]="{'hoverable': isOwner()}"
          (click)="goToEditPageIfOwner()">
        {{room.status}}
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="desc-container">{{room.description}}</div>
  <p style="padding: 0; margin: 0;" *ngIf="!room.description">(No Description)</p>
</mat-expansion-panel>
