@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {

}

* {
  font-family: Roboto, Raleway, "Helvetica Neue", sans-serif;
}

b {
  font-weight: 800;
}


button[color="primary"] {
  background: rgb(62, 177, 79) !important;
}

h1 {
  font-weight: 900;
  font-size: 22px;
  margin-left: 5px;
  margin-bottom: 16px;
}

h2 {
  margin-left: 6px;
  font-size: 18px;
  color: gray;
  margin-bottom: 8px;
}

p {
  margin: 6px;
  font-size: 16px;

}

h1 {
  font-size: 60px;
  margin: 5px auto;
  text-align: center;
}

h2 {
  font-size: 20px;
  margin: 3px auto;
  text-align: center;
}

hr {
  margin-top: 10px;
  margin-bottom: 40px;
}


.spinner-container {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}