<h1>What's going on in your room?</h1>
<br>
<mat-form-field>
  <mat-select placeholder="Room Status" [(ngModel)]="postRoom.status">
    <mat-option value="DO NOT DISTURB">Do Not Disturb 😴</mat-option>
    <mat-option value="PARTY">Party 🎉</mat-option>
    <mat-option value="RELAXING">Relaxing 😌</mat-option>
    <mat-option value="DRINKING">Drinking 🍻</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <textarea matInput [maxLength]="MAX_CHARACTERS" [placeholder]="'Description (' + charactersLeft + ' characters left)'" (keyup)="input($event)" [(ngModel)]="postRoom.description"></textarea>
</mat-form-field>

<div style="float: right">
  <button mat-raised-button color="primary" (click)="saveRoom()">Save</button>
</div>
