hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

.example-full-width {
  width: 100%;
}

mat-checkbox {
  display: inline-block !important;
  margin-right: 20px;
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 25px;
}

.spinner-container {
  width: 100%;
  text-align: center;
}

mat-spinner {
  margin: 0 auto;
}
