hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

.example-full-width {
  width: 100%;
}

mat-checkbox {
  display: inline-block !important;
  margin-right: 20px;
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 25px;
}

mat-spinner {
  margin: 0 auto;
}

.refresh-button {
  min-width: 100%;
}

.center-wrapper {
  min-width: 80%;
}

.checkboxes {
  overflow-wrap: break-word;
}